<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-gif-plugin" version="0.0.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>IndigoGifPlugin</name>
	<js-module name="IndigoGifPlugin" src="www/IndigoGifPlugin.js">
		<clobbers target="cordova.plugins.IndigoGifPlugin" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="IndigoGifPlugin">
				<param name="ios-package" value="IndigoGifPlugin" />
			</feature>
		</config-file>
		<source-file src="src/ios/IndigoGifPlugin.m" />

		<preference name="PHOTOLIBRARY_ADD_USAGE_DESCRIPTION" default=" " />
         <config-file target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist">
             <string>$PHOTOLIBRARY_ADD_USAGE_DESCRIPTION</string>
         </config-file>   
		
	</platform>
</plugin>
